/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Eloquia";
  src: url("/font/typekiln_-_eloquiadisplay-extrabold-webfont.woff2") format("woff2"), url("/font/typekiln_-_eloquiadisplay-extrabold-webfont.woff") format("woff");
  src: url("/font/typekiln_-_eloquiatext-extralight-webfont.woff2") format("woff2"), url("/font/typekiln_-_eloquiatext-extralight-webfont.woff") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  /* colors */
  --color-azul-claro: #4351a2;
  --color-celestebuen: #0075ad;
  --color-celestesom: #44a5df;
  --color-fondo: #f6f5f6;
  --color-rectanguloo: #bfbebe;
  --color-rojo-claro: #aa1941;
  --color-violeta: #7e4699;
  --color-negro-texto: #1a1a1a;

  /* Tamaños */
  --ancho-total: 2000px;
  --alto-total: 1118px;
  /* GRID */
  --grid-2por4: span 2 / span 4;
  --grid-2por6: span 2 / span 6;
  --grid-3por4: span 3 / span 4;
  --grid-3por6: span 3 / span 6;
  --grid-3por8: span 3 / span 8;
  /* Border de rectangulo */
  --tam-borderRadius:20px;
}

/* ******************************** */
#container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  background: var(--color-fondo);
  width: 1610px;
  height: 900px;
  padding: 12px;
  display: grid;
  grid-template-columns: (40,1fr);
  grid-template-rows: (12,1Fr);
  gap: 12px;
}

main div{
  background: var(--color-rectanguloo);
  border-radius: var(--tam-borderRadius);
  font-family: "Eloquia";
  text-align: center;

  /* Cajas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


/* Posicion de todos los DIV'S */
/* En el grid-area te permite contar las columnas y los rows en una sola linea,
   por paramero primero va los rows/colum  */

/* Grid 2x4 */
.container__caja16gb,
.container__cajaTouchID,
.container__caja2tb,
.container__cajaWifi6{
  grid-area: var(--grid-2por4);
}

/* Grid 2x6 */
.container__caja13-3,
.container__cajaP3wide{
  grid-area: var(--grid-2por6);
}

/* Grid 3x4 */
.container__cajaSecure,
.container__cajaActivecooling{
  grid-area: var(--grid-3por4);
}

/* Grid 3x6 */
.container__cajaAdvancedISP,
.container__cajaStudio{
  grid-area: var(--grid-3por6);
}

/* Grid 3x8 */
.container__cajaBattery,
.container__caja28x,
.container__caja5x,
.container__caja11x{
  grid-area: var(--grid-3por8);
}


main div *{
  transform: rotateY(180deg);
  opacity: 10%;
}

main div:hover{
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px rgb(var(--color-rectanguloo));
  transform: rotateY(180deg);
  transition: transform 2s cubic-bezier(0.68, -0.55,0.27,1.55);
  background-color: 2s ease;
}